body {
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    margin: 50px 0 0;
    font-size: 80px;
    font-family: "Source Code Pro";
}

#window {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 2px #000;
    border-radius: 5px;
    width: 700px;
    height: 500px;
    position: absolute;
    right: 40px;
    top: 250px;
    overflow-y: scroll;
    border: 1px solid white;
}

.window-header {
    position: absolute;
    right: 465px;
    top: 180px;
}

#window li {
    word-wrap: break-word;
}

#form {
    position: absolute;
    top: 200px;
}

#input-text {
    position: relative;
    left: 100px;
    top: 60px;
    display: block;
    border-radius: 5px;
    border: 2px solid #757575;
    font-family: "Source Code Pro";
    font-size: 16px;
    width: 800px;
    height: 20px;
    outline: none;
}

    #input-text:focus {
        border: 2px solid #000;
    }

#submit {
    position: relative;
    top: 80px;
    left: 450px;
    display: block;
    box-shadow: 0 0 2px #000;
    background-color: #000;
    outline: none;
    width: 100px;
    height: 35px;
    color: white;
    font-size: 20px;
    font-family: "Source Code Pro";
}

#results {
    border: 1px solid black;
    min-height: 200px;
    position: absolute;
    top: 500px;
    width: 800px;
    left: 100px;
    color: #ff0000;
    border-radius: 5px;
    border: 2px solid #757575;
    font-family: "Source Code Pro";
    padding: 10px;
}

#list {
    list-style: square;
}

.header {
    font-size: 20px;
    font-family: "Source Code Pro";
}

.input-header {
    position: absolute;
    left: 100px;
}

.result-header {
    position: absolute;
    left: 100px;
    top: 460px;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro-Regular.ttf");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
